  .shake {
    animation: shake 0.6s;
    transform: translate3d(0, 0, 0) rotateY(180deg);
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0) rotateY(180deg);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0) rotateY(180deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0) rotateY(180deg);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0) rotateY(180deg);
    }
  }

  .match {
    animation: match 0.6s ease-in-out;
    transform: translate3d(0, 0, 0) rotateY(180deg);
  }

  @keyframes match {
    0% {
      transform: scale(1.0) rotateY(180deg);
    }
    50% {
      transform: scale(1.15) rotateY(180deg);
    }
    100% {
      transform: scale(1.0) rotateY(180deg);
    }
  }